@media screen and (min-width: 300px)  and (orientation: portrait){
    body{
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    .container{
        display: block;

    }
    h1{
        font-family: 'Dosis',sans-serif;
        color: #ffffff;
        text-align: center;
    }
    .header-01{
        display: flex;
        background-color: #009458;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-home{
        display: inline-block;
        margin: 10px;
        margin-left: 10%;
    }
    .fundasemillas{
        display: inline-block;
        margin: auto 0px;
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 10pt;
        font-weight: 600;
    }
    .nav-btn{
        font-size: 'Dosis', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        justify-items: center;
        align-self: center;
        justify-self: center;
        padding: 10px 15px;
    }
    #nav-btn-01{
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -250px;
    }
    #nav-btn-02{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -220px;
    }
    #nav-btn-03{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -190px;
    }
    .inicio{
        width: 300px;
        height: 40px;
        background: #69BF97;
        margin-left: 50px;
        position: relative;
        margin-top: 10%;
        border-radius: 50px 10px 50px 10px;
    }
    .rectangle {
        width: 125px;
        height: 120px;
        background: #69BF97;
        margin-top: 15px;
        margin-left: 19%;
        border: solid 2px #009458;
        text-align: center;
        border-radius: 0px 150px 100px 150px;
    }
    .niveles{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-top: -33%;
    }
    .modulo-1{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100px;
        background-color: #69BF97;
        border: solid 2px #009458;
        border-radius: 5px;
        height: 30px;
        margin-left: 20px;
    }
    .modulo-1:hover{
        background: #009458;
        border: solid 2px #69BF97;
    }
    .emojis{
        height: 70px;
        width: 70px;
        margin-top: -12px;
        margin-left: 30px;
    }
    .emojis:hover{
       width: 100px;
       margin-top: -35px;
    }
    #decepcionado{
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
        animation: color-decep 3s;
    }
    @keyframes color-decep {
        0%{
            background-color:#009458;
        }
        100%{
            background-color: coral; 
        }
    }
    /*#decepcionado:hover{
        background-color: rgb(248, 215, 153);
        border:solid 2px orange;
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }*/
    #enamorado:hover{
        background: pink;
        border:solid 2px rgb(244, 159, 173);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #enojado:hover{
        background-color: rgb(209, 87, 87);
        border:solid 2px red;
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #feliz:hover{
        background-color: rgb(34, 216, 34);
        border:solid 2px rgb(4, 114, 4);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #triste:hover{
        background-color: rgb(79, 79, 245);
        border:solid 2px rgb(34, 34, 152);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #sorprendido:hover{
        background-color: rgb(235, 235, 118);
        border:solid 2px rgb(129, 129, 25);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    
    .modulo{
        font-family: Dosis;
        font-size: 13pt;
        margin-right: 10px;
    }
    .modulo:hover{
        font-size: 15pt;
        margin-top: 5px;
    }
    .nivel{
        margin-top: 3%;
        margin-left: 20%;
        font-family: Playfair;
        font-size: 14pt;
    }
    .footer-01{
        display: block;
        position: relative;
        /* justify-content: flex-end;
        justify-self: flex-end; */
        background-color: #009458;
        width: 100%;
        height: 140px;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto 10px auto;
        padding: 5px auto;
    }
    .social{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 60px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 50px auto;
        padding: 0px 10px;
        top: 5px;
    
    }
    .creators{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 50px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 60px auto;
        padding: 0px 25px;
        
    }
    .creators-text{
        font-family: 'Playfair Display', serif;
        font-size: 10pt;
        font-weight: 300;
    }
    
    
}

@media screen and (min-width: 600px) and (max-width: 800px){
    body{
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    .container{
        display: block;

    }
    h1{
        font-family: 'Dosis',sans-serif;
        color: #ffffff;
        text-align: center;
    }
    .header-01{
        display: flex;
        background-color: #009458;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-home{
        display: inline-block;
        margin: 10px;
        margin-left: 10%;
    }
    .fundasemillas{
        visibility: hidden;
        display: inline-block;
        margin: auto 0px;
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 10pt;
        font-weight: 800;
    }
    .nav-btn{
        font-size: 'Dosis', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        justify-items: center;
        align-self: center;
        justify-self: center;
        padding: 10px 15px;
    }
    #nav-btn-01{
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -250px;
    }
    #nav-btn-02{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -220px;
    }
    #nav-btn-03{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -190px;
    }
    .inicio{
        width: 570px;
        height: 60px;
        background: #69BF97;
        margin-left: 90px;
        position: relative;
        margin-top: 9%;
        border-radius: 50px 10px 50px 10px;
    }
    .rectangle {
        width: 200px;
        height: 200px;
        background: #69BF97;
        margin-top: -40px;
        margin-left: 15%;
        border: solid 2px #009458;
        text-align: center;
        border-radius: 0px 150px 100px 150px;
    }
    .niveles{
        display: flex;
        flex-direction: column;
        margin-left: 310px;
        margin-top: -130px;
    }
    .modulo-1{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 300px;
        background-color: #69BF97;
        border: solid 2px #009458;
        border-radius: 20px;
        height: 50px;
        margin-left: 20px;
    }
    .modulo-1:hover{
        background-color: #009458;
        border: solid 2px #69BF97;
    }
    .emojis{
        height: 100px;
        width: 100px;
        margin-top: -12px;
        margin-left: 30px;
    }
    .emojis:hover{
       width: 200px;
       margin-top: -35px;
    }
    #decepcionado{
        width: 200px;
        height: 200px;
        margin-top: 40px;
        margin-left: 15%;
        animation: color-decep 3s;
    }
    #decepcionado:hover{
        background-color: rgb(248, 215, 153);
        border:solid 2px orange;
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #enamorado:hover{
        background-color: pink;
        border:solid 2px rgb(244, 159, 173);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #enojado:hover{
        background-color: rgb(209, 87, 87);
        border:solid 2px red;
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #feliz:hover{
        background-color: rgb(34, 216, 34);
        border:solid 2px rgb(4, 114, 4);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #triste:hover{
        background-color: rgb(79, 79, 245);
        border:solid 2px rgb(34, 34, 152);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    #sorprendido:hover{
        background-color: rgb(235, 235, 118);
        border:solid 2px rgb(129, 129, 25);
        width: 125px;
        height: 120px;
        margin-top: 30px;
        margin-left: 19%;
    }
    
    .modulo{
        font-family: Dosis;
        font-size: 20pt;
        margin-right: 10px;
    }
    .modulo:hover{
        font-size: 15pt;
        margin-top: 5px;
    }
    .nivel{
        margin-top: 3%;
        margin-left: 40%;
        font-family: Playfair;
        font-size: 18pt;
    }
    .footer-01{
        display: block;
        position: relative;
        /* justify-content: flex-end;
        justify-self: flex-end; */
        background-color: #009458;
        width: 100%;
        height: 160px;
        flex-direction: row;
        justify-content: center;
        margin: 20px auto 20px auto;
        padding: 5px auto;
    }
    .social{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 60px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 50px auto;
        padding: 0px 10px;
        top: 5px;
    
    }
    .creators{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 50px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 60px;
        padding: 0px 25px;
    }
    .creators-text{
        font-family: 'Playfair Display', serif;
        font-size: 10pt;
        font-weight: 300;
    }
}