@media screen and (min-width: 300px)  and (orientation: portrait){
    body{
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    .container{
        display: block;

    }
    h1{
        font-family: 'Dosis',sans-serif;
        color: #ffffff;
        text-align: center;
    }
    .header-01{
        display: flex;
        background-color: #009458;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        z-index: 8;
        position: fixed;
    }
    .logo-home{
        display: inline-block;
        margin: 10px;
        margin-left: 10%;
    }
    .fundasemillas{
        visibility: hidden;
        display: inline-block;
        margin: auto 0px;
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 10pt;
        font-weight: 800;
    }
    .nav-btn{
        font-size: 'Dosis', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        justify-items: center;
        align-self: center;
        justify-self: center;
        padding: 10px 15px;
    }
    #nav-btn-01{
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -250px;
    }
    #nav-btn-02{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -220px;
    }
    #nav-btn-03{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -190px;
    }
    .inicio{
        width: 300px;
        height: 40px;
        background: #69BF97;
        margin-left: 50px;
        position: relative;
        margin-top: 10%;
    }
    #rectangle {
        width: 125px;
        height: 110px;
        background: #69BF97;
        margin-top: 5%;
        margin-left: 19%;
        font-family: Dosis;
        font-size: 13pt;
    }
    .niveles{
        display: flex;
        flex-direction: column;
        margin-left: 200px;
        margin-top: -28%;
    }
    #rectangle-1{
        width: 110px;
        height: 30px;
        background: #69BF97;
        margin-top: 1%;
        margin-left: 7.5%;
    }
    #rectangle-2{
        width: 112px;
        height: 30px;
        background: #69BF97;
        margin-top: 5%;
        margin-left: 7%;
    }
    #rectangle-3{
        width: 112px;
        height: 30px;
        background: #69BF97;
        margin-top: 5%;
        margin-left: 7%;
    }
    .emojis{
        height: 70px;
        width: 70px;
        margin-top: -12px;
    }
    .emojis:hover{
       margin: 200px;
    }
    
    .nivel{
        margin-top: 3%;
        margin-left: 20%;
        font-family: Playfair;
        font-size: 14pt;
    }
    .modulo{
        text-align: center;
    }

    .footer-01{
        display: block;
        position: relative;
        /* justify-content: flex-end;
        justify-self: flex-end; */
        background-color: #009458;
        width: 100%;
        height: 140px;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto 10px auto;
        padding: 5px auto;
    }
    .social{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 60px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 50px auto;
        padding: 0px 10px;
        top: 5px;
    
    }
    .creators{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 50px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 10px auto;
        padding: 0px 25px;
        top: -40px;
    }
    .creators-text{
        font-family: 'Playfair Display', serif;
        font-size: 10pt;
        font-weight: 300;
    }
    
    
}

@media screen and (min-width: 600px) and (max-width: 800px){
    body{
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }
    .container{
        display: block;
    }
    h1{
        font-family: 'Dosis',sans-serif;
        color: #ffffff;
        text-align: center;
    }
    .header-01{
        display: flex;
        background-color: #009458;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        position: static;
    }
    .logo-home{
        display: inline-block;
        margin: 10px;
        margin-left: 10%;
    }
    .fundasemillas{
        visibility: hidden;
        display: inline-block;
        margin: auto 0px;
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 10pt;
        font-weight: 800;
    }
    .nav-btn{
        font-size: 'Dosis', sans-serif;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        justify-items: center;
        align-self: center;
        justify-self: center;
        padding: 10px 15px;
    }
    #nav-btn-01{
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -250px;
    }
    #nav-btn-02{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -220px;
    }
    #nav-btn-03{
        text-align: center;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        font-size: 7pt;
        margin-left: -190px;
    }
    .inicio{
        width: 300px;
        height: 40px;
        background: #69BF97;
        margin-left: 50px;
        position: relative;
        margin-top: 10%;
    }
    .container-2{
        margin-top: 30%;
        margin-left: 10%;
    }
    #rectangle {
        width: 125px;
        height: 110px;
        background: #69BF97;
        margin-top: -25%;
        margin-left: 8%;
        font-family: Dosis;
        font-size: 13pt;
    }
    .niveles{
        display: flex;
        flex-direction: column;
        margin-left: 150px;
        margin-top: -32%;
    }
    #rectangle-1{
        width: 110px;
        height: 30px;
        background: #69BF97;
        margin-top: 1%;
        margin-left: 7.5%;
    }
    #rectangle-2{
        width: 112px;
        height: 30px;
        background: #69BF97;
        margin-top: 5%;
        margin-left: 7%;
    }
    #rectangle-3{
        width: 112px;
        height: 30px;
        background: #69BF97;
        margin-top: 5%;
        margin-left: 7%;
    }
    .nivel{
        margin-top: 3%;
        margin-left: 20%;
        font-family: Playfair;
        font-size: 14pt;
    }
    .modulo{
        text-align: center;
    }
    .footer-01{
        display: block;
        position: relative;
        /* justify-content: flex-end;
        justify-self: flex-end; */
        background-color: #009458;
        width: 100%;
        height: 140px;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto 10px auto;
        padding: 5px auto;
    }
    .social{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 60px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 50px auto;
        padding: 0px 10px;
        top: 5px;
    
    }
    .creators{
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 50px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 10px auto;
        padding: 0px 25px;
        top: -40px;
    }
    .creators-text{
        font-family: 'Playfair Display', serif;
        font-size: 10pt;
        font-weight: 300;
    }
}