/* Para llamar la fuente:

    font-family: 'Dosis', sans-serif;

    font-family: 'Playfair Display', serif;
*/



/* Responsive tablet inicio */
@media screen and (max-width: 500px) and (orientation: portrait) {
    body {
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: 'Dosis', sans-serif;
        font-size: 16pt;
        color: #ffffff;
    }

    .header-01 {
        display: flex;
        background-color: #009458;
        width: 100%;
        height: 70px;
        flex-direction: row;
        justify-content: flex-start;
    }

    .logo-home {
        display: flex;
        /* border: black solid 2px; */
        margin: 0px;
        
    }

    .fundasemillas {
        visibility: hidden;
        display: inline-block;
        position: relative;
        /* border: black solid 2px; */
        margin: auto 0px;
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 10pt;
        font-weight: 800;
    }

    .acceso-1 {
        display: flexbox;
        background-image: url('/img/hoja.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    a>.nav-btn {
        display: flex;
        margin: 0px;
        font-family: 'Dosis', sans-serif;/*esto lo modifico lily */
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        padding: 35px auto 5px auto;
    }

    #nav-btn-01 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 20px 10px 0px 10px;/*esto lo modifico lily */
        font-size: 8pt;
    }
    
    #nav-btn-02 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 20px 10px 0px 10px;/*esto lo modifico lily */
        font-size: 8pt;
    }
    
    #nav-btn-03 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 20px 10px 0px 10px;/*esto lo modifico lily */
        font-size: 8pt;
    }
    
    .tareas-1 {
        display: flex;
        /* background-color: red;
        border: black solid 2px; */
        margin: 0px;
    }

    .emociones-1 {
        display: flex;
        /* background-color: blue;
        border: black solid 2px; */
        margin: 0px;
    }

    .dashboard-1 {
        display: flex;
        /* background-color: yellow;
        border: black solid 2px; */
        margin: 0px;
    }

    .contenido {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 100px auto 100px auto;
        justify-content: space-between;
    }

    .tareas-01,
    .emociones-01,
    .dashboard-01 {
        text-align: center;
        padding: 2px
    }

    .tareas-01 {
        display: block;
        width: 300px;
        height: 150px;
        padding: 0px 10px;
        margin: 30px auto 30px auto;
        border-bottom-left-radius: 150px;
        border-top-right-radius: 150px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #00FF99);
    }

    .emociones-01 {
        display: block;
        width: 300px;
        height: 150px;
        padding: 0px 10px;
        margin: 30px auto 30px auto;
        border-bottom-left-radius: 150px;
        border-top-right-radius: 150px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #00ffb2);
    }

    .dashboard-01 {
        display: block;
        width: 300px;
        height: 150px;
        padding: 0px 10px;
        margin: 30px auto 30px auto;
        border-bottom-left-radius: 150px;
        border-top-right-radius: 150px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #aaee66);
    }

    .tareas-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -10px 20px;
        font-size: 9pt;
    }

    .emociones-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -10px 20px;
        font-size: 9pt;
    }

    .dashboard-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -10px 20px;
        font-size: 9pt;
    }

    .footer-01 {
        display: block;
        position: relative;
        /* justify-content: flex-end;
        justify-self: flex-end; */
        background-color: #009458;
        width: 100%;
        height: 140px;
        flex-direction: row;
        justify-content: center;
        margin: 10px auto 10px auto;
        padding: 5px auto;
    }

    .social {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 60px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 10px auto;
        padding: 0px 10px;
    }

    .creators {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 60px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 25px;
        margin: 10px auto;
        padding: 0px 25px;
    }

    .creators-text {
        font-family: 'Playfair Display', serif;
        font-size: 10pt;
        font-weight: 300;
    }
}

/* Responsive mobile fin */

/* Responsive tablet inicio */
@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: 'Dosis', sans-serif;
        font-size: 30pt;
        color: #ffffff;
    }

    .header-01 {
        display: flex;
        z-index: 8;/*esto lo coloco lily */
        position: fixed;/*esto lo coloco lily */
        background-color: #009458;
        width: 100%;
        height: 90px;
        flex-direction: row;
        justify-content: flex-start;
        
    }

    .logo-home {
        display: flex;
        /* border: black solid 2px; */
        margin: 0px;
    }

    .fundasemillas {
        visibility: visible;
        display: inline-block;
        position: relative;
        /* border: black solid 2px; */
        /* margin: auto 5px; */
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 28pt;
        font-weight: 800;
        margin: auto 5px;
    }

    .acceso-1 {
        display: flexbox;
        background-image: url('/img/hoja.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    a>.nav-btn {
        display: flex;
        margin: 0px;
        font-size: 'Dosis', sans-serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        padding: 45px auto 5px auto;
    }

    #nav-btn-01 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 35px 10px 0px 10px;
        font-size: 12pt;
    }
    
    #nav-btn-02 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 35px 10px 0px 10px;
        font-size: 12pt;
    }
    
    #nav-btn-03 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 35px 10px 0px 10px;
        font-size: 12pt;
    }
    
    .tareas-1 {
        display: flex;
        /* background-color: red;
        border: black solid 2px; */
        margin: 0px;
    }

    .emociones-1 {
        display: flex;
        /* background-color: blue;
        border: black solid 2px; */
        margin: 0px;
    }

    .dashboard-1 {
        display: flex;
        /* background-color: yellow;
        border: black solid 2px; */
        margin: 0px;
    }

    .contenido {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        margin: 150px auto 150px auto;
        justify-content: space-between;
    }

    .tareas-01,
    .emociones-01,
    .dashboard-01 {
        text-align: center;
        padding: 2px
    }

    .tareas-01 {
        display: block;
        width: 400px;
        height: 200px;
        padding: 0px 10px;
        margin: 30px auto 30px auto;
        border-bottom-left-radius: 200px;
        border-top-right-radius: 200px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #00FF99);
    }

    .emociones-01 {
        display: block;
        width: 400px;
        height: 200px;
        padding: 0px 10px;
        margin: 30px auto 30px auto;
        border-bottom-left-radius: 200px;
        border-top-right-radius: 200px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #00ffb2);
    }

    .dashboard-01 {
        display: block;
        width: 400px;
        height: 200px;
        padding: 0px 10px;
        margin: 30px auto 30px auto;
        border-bottom-left-radius: 200px;
        border-top-right-radius: 200px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #aaee66);
    }

    .tareas-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -40px 40px;
        font-size: 12pt;
    }

    .emociones-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -40px 40px;
        font-size: 12pt;
    }

    .dashboard-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -40px 40px;
        font-size: 12pt;
    }

    .footer-01 {
        display: block;
        /* justify-content: flex-end;
        justify-self: flex-end; */
        background-color: #009458;
        width: 100%;
        height: 180px;
        flex-direction: row;
        justify-content: center;
        margin: 12px auto 12px auto;
        padding: 0px auto;
    }

    .social {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 80px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 35px;
        margin: 10px auto;
        padding: 0px 10px;
    }

    .creators {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 80px;
        justify-content: space-between;
        background-color: #69BF97;
        width: 60%;
        border-radius: 35px;
        margin: 10px auto;
        padding: 0px 25px;
    }

    .creators-text {
        font-family: 'Playfair Display', serif;
        font-size: 14pt;
        font-weight: 300;
    }
}

/* Responsive Tablet fin */

/* Responsive Desktop inicio */
@media screen and (min-width: 1024px) and (max-width: 3840px) and (orientation: landscape) {
    body {
        background-color: #ffffff;
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: 'Dosis', sans-serif;
        font-size: 50pt;
        color: #ffffff;
        margin-top: 30px;
    }

    .header-01 {
        display: flex;
        background-color: #009458;
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-around;
        z-index: 8; /*esto lo coloco lily */
        position: fixed;/*esto lo coloco lily */
    }

    .logo-home {
        display: flex;
        /* border: black solid 2px; */
        margin: 0px;
    }

    .fundasemillas {
        visibility: visible;
        display: inline-block;
        position: relative;
        /* border: black solid 2px; */
        font-family: 'Dosis', sans-serif;
        justify-self: center;
        color: #ffffff;
        font-size: 50pt;
        font-weight: 800;
        margin: auto 80px;
    }

    .acceso-1 {
        display: flexbox;
        background-image: url('/img/hoja.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    a>.nav-btn {
        display: flex;
        margin: 0px;
        font-size: 'Dosis', sans-serif;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
        padding: 65px auto 5px auto;
    }

    #nav-btn-01 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 35px 10px 0px 10px;
        font-size: 12pt;
    }
    
    #nav-btn-02 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 35px 10px 0px 10px;
        font-size: 12pt;
    }

    #nav-btn-03 {
        display: flex;
        position: relative;
        text-align: center;
        align-self: center;
        margin: 35px 10px 0px 10px;
        font-size: 12pt;
    }

    .tareas-1 {
        display: flex;
        /* background-color: red;
        border: black solid 2px; */
        margin: 0px;
    }

    .emociones-1 {
        display: flex;
        /* background-color: blue;
        border: black solid 2px; */
        margin: 0px;
    }

    .dashboard-1 {
        display: flex;
        /* background-color: yellow;
        border: black solid 2px; */
        margin: 0px;
    }

    .contenido {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 150px auto 150px auto;
        justify-content: space-between;
    }

    .tareas-01,
    .emociones-01,
    .dashboard-01 {
        text-align: center;
        padding: 2px
    }

    .tareas-01 {
        display: block;
        width: 500px;
        height: 250px;
        padding: 0px 30px;
        margin: auto 40px auto 40px;
        border-bottom-left-radius: 250px;
        border-top-right-radius: 250px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #00FF99);
    }

    .emociones-01 {
        display: block;
        width: 500px;
        height: 250px;
        padding: 0px 30px;
        margin: auto 40px auto 40px;
        border-bottom-left-radius: 250px;
        border-top-right-radius: 250px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #00ffb2);
    }

    .dashboard-01 {
        display: block;
        width: 500px;
        height: 250px;
        padding: 0px 30px;
        margin: auto 40px auto 40px;
        border-bottom-left-radius: 250px;
        border-top-right-radius: 250px;
        border-color: solid black 2px;
        background: linear-gradient(to right, #009458, #aaee66);
    }

    .tareas-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -70px 60px;
        font-size: 14pt;
    }

    .emociones-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -70px 60px;
        font-size: 14pt;
    }

    .dashboard-01>p {
        text-align: center;
        color: #ffffff;
        font-family: 'Playfair Display', serif;
        margin: -70px 60px;
        font-size: 14pt;
    }

    #ftr-01 {
        display: flex;
        margin-top: auto;
        margin-bottom: 0px;
        justify-self: end;
    }

    .footer-01 {
        display: flex;
        position: absolute;/*esto lo coloco lily */
        top: auto;
        bottom: 0px;
        background-color: #009458;
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: end;
        padding: 0px;
        
    }

    .social {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 90px;
        /* justify-self: flex-start; */ 
        justify-content: space-between;
        background-color: #69BF97;
        width: 15%;
        border-radius: 40px;
        margin: 10px auto;
        padding: 0px 15px;
    }

    .creators {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: #009458;
        height: 90px;
        /* justify-self: flex-end; */
        justify-content: space-between;
        background-color: #69BF97;
        width: 25%;
        border-radius: 40px;
        margin: 10px auto;
        padding: 0px 35px;
    }

    .creators-text {
        font-family: 'Playfair Display', serif;
        font-size: 14pt;
        font-weight: 500;
    } 
}

/* Responsive Desktop fin */
#nav-btn-01:hover {
    font-size: 20px;
    /*esto lo coloco lily */
}
#nav-btn-02:hover {
    font-size: 20px;
    /*esto lo coloco lily */
}
#nav-btn-03:hover {
    font-size: 20px;
    /*esto lo coloco lily */
}
.nav-btn:hover {
    color: black;
    
}

.acceso-1:hover {
    background: linear-gradient(#009458, lightblue);
    font-size: large;
}

.tareas-01:hover,
.emociones-01:hover,
.dashboard-01:hover {
    background: linear-gradient(yellow, #69BF97);
    justify-content: center;
    align-content: center;
    padding: -30px -30px -30px -30px;
    border: solid blue 2px;
    top: 5px;
}

.tareas-01>p:hover,
.emociones-01>p:hover,
.dashboard-01>p:hover {
    color: black;
}

.acceso-1>a {
    text-decoration: none;
    outline: none;
}

.tareas-01>a,
.emociones-01>a,
.dashboard-01>a {
    text-decoration: none;
    outline: none;
}